<?xml version='1.0' encoding='utf-8'?>
<widget id="com.unidadinnovacion.Patient" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Patient</name>
    <description>
        SysPharma patient portal test
    </description>
    <author email="dppillai93@gmail.com" href="http://syspharma.shealth.eu">
        Unidad de Innovacion
    </author>
    <content src="index.html" />
    <icon src="www/img/syspharma.png" />
    <access origin="*" />
    <preference name="EnableViewportScale" value="true" />
    <engine name="browser" spec="~4.1.0" />
    <engine name="android" spec="~5.1.1" />
    <engine name="ios" spec="~4.1.1" />
</widget>
