@font-face {
    font-family: Ubuntu;
    src: local('Ubuntu'), url("./fonts/Ubuntu-R.ttf") format("truetype"),
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Ubuntu;
    src: local('Ubuntu'), url("./fonts/Ubuntu-RI.ttf") format("truetype"),
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: Ubuntu;
    src: local('Ubuntu'), url("./fonts/Ubuntu-M.ttf") format("truetype"),
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: Ubuntu;
    src: local('Ubuntu'), url("./fonts/Ubuntu-MI.ttf") format("truetype"),
    font-weight: medium;
    font-style: italic;
}

@font-face {
    font-family: Ubuntu;
    src: local('Ubuntu'), url("./fonts/Ubuntu-L.ttf") format("truetype"),
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: Ubuntu;
    src: local('Ubuntu'), url("./fonts/Ubuntu-LI.ttf") format("truetype"),
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: Ubuntu;
    src: local('Ubuntu'), url("./fonts/Ubuntu-B.ttf") format("truetype"),
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Ubuntu;
    src: local('Ubuntu'), url("./fonts/Ubuntu-BI.ttf") format("truetype"),
    font-weight: bold;
    font-style: italic;
}


@font-face {
    font-family: Ubuntu Mono;
    src: local('Ubuntu Mono'), url("./fonts/UbuntuMono-R.ttf") format("truetype"),
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Ubuntu Mono;
    src: local('Ubuntu Mono'), url("./fonts/UbuntuMono-RI.ttf") format("truetype"),
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: Ubuntu Mono;
    src: local('Ubuntu Mono'), url("./fonts/UbuntuMono-B.ttf") format("truetype"),
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Ubuntu Mono;
    src: local('Ubuntu Mono'), url("./fonts/UbuntuMono-BI.ttf") format("truetype"),
    font-weight: bold;
    font-style: italic;
}


@font-face {
    font-family: Ubuntu Condensed;
    src: local('Ubuntu Condensed'), url("./fonts/Ubuntu-C.ttf") format("truetype"),
    font-weight: normal;
    font-style: normal;
}

 body{
    font-family: 'Ubuntu', sans-serif;
 }

